/* :root {
    --dark: #1d1d1d;
    --grey-dark: #414141;
    --light: #fff;
    --mid: #ededed;
    --grey: #989898;
    --gray: #989898;
    --green: #28a92b;
    --green-dark: #4e9815;
    --green-light: #6fb936;
    --blue: #2c7ad2;
    --purple: #8d3dae;
    --red: #c82736;
    --orange: #e77614;
    accent-color: var(--green);
  } */
* {
    margin: 0;
    padding: 0;
    /* background-color: black; */
}

/* .navbar {
background-color: transparent; /* Transparent background color */


/* .nav-item{
padding: 1rem;
} */
/* 
.navbar-dark .navbar-brand {
color: #ffffff; 
}
.navbar-dark .navbar-nav .nav-link {
color: #ffffff; 
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.navbar-brand:hover {
    color: #28a92b;
}

.navbar-nav .nav-link {
    color: #ffffff;
    font-weight: bold;
}

.navbar-nav .nav-link:hover {
    color: #28a92b;
}

.card-img-top img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}




h3 {
    color: #1d1d1d;
    font-weight: bold;
    font-size: 3rem;
}
#allproduct{
    margin-top: 7rem;
}
.card{
    width: 23rem;
    margin:0.5rem;
    margin-right: 1.2rem;
    border: none; 
    box-shadow: 4px 4px 3px #e0e5fec6; 
    background-image: linear-gradient(to bottom,transparent 85%,#28a92a70);
}
.card:hover{
    cursor: pointer;
    background-image: linear-gradient(to bottom,#98989883 80%,transparent);
}

.card-body{
    width:100%;
    
}

#cardcontainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px; 
}
.list-group li{
    color: #414141;
    font-weight: bold;
}

.navbar {
    background-color: transparent !important;
    transition: background-color 0.3s ease;
  
  }
  .navbar-scrolled {
    background-color:#6fb936 !important; 
  } */
  :root {
    --dark: #1d1d1d;
    --grey-dark: #414141;
    --light: #fff;
    --mid: #ededed;
    --grey: #989898;
    --gray: #989898;
    --green: #28a92b;
    --green-dark: #4e9815;
    --green-light: #6fb936;
    --blue: #2c7ad2;
    --purple: #8d3dae;
    --red: #c82736;
    --orange: #e77614;
    accent-color: var(--green);
  }
  
  body {
              background-color: var(--dark);
              /* padding-top: 80px; */
              background-image:
      linear-gradient(rgba(255,255,255,.07) 2px, transparent 2px),
      linear-gradient(90deg, rgba(255,255,255,.07) 2px, transparent 2px),
      linear-gradient(rgba(255,255,255,.06) 1px, transparent 1px),
      linear-gradient(90deg, rgba(255,255,255,.06) 1px, transparent 1px);
              background-size: 100px 100px;
              height: 100vh;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              color: black;
          }
          .container {
      max-width: 1200px;
  }
  
  .main-padding {
      padding: 20px 0;
  }
  
  .user-orders {
      margin-top: 20px;
  }
  
  .total-price {
      margin-top: 20px;
      border-top: 2px solid #dee2e6;
      padding-top: 10px;
      font-size: 1.2em;
  }
  
  
  td {
      text-align: center;
  }
  
  
  label,h1,h5 {
      color: #ffffff;
      padding: 0.5em;
      font-weight: bold;
  }
  
  .form-control {
      background-color: transparent;
      color: #ffffff;
      border-color: #ffffff;
    }
  
  
  button.btn {
    width: 25%;
    padding: 10px;
    border-radius: 5px;
    background-color:#748E63; 
    border: none;
    color: white;
    margin: 5px;
  }
  
  button.btn:hover {
    background-color: #2E7D32; 
    color: white;
  }
  
  button.btn:active{
    background-color: #748E63;
    outline: none;
    border-color: #ced4da;
  }
    
  
#add{
    text-decoration: none;
    color: #414141;
    font-weight: bold;
    font-size: 1.1rem;
}
#add:hover{
    color:#28a92b;
}


.navbar-dark .navbar-brand {
color: #ffffff;
}
.navbar-dark .navbar-nav .nav-link {
color: #ffffff;
}

.navbar-brand {
color: #ffffff;
font-weight: bold;
}

.navbar-brand:hover {
color: #28a92b;
}

.navbar-nav .nav-link {
color: #ffffff;
font-weight: bold;
}

.navbar-nav .nav-link:hover {
color: #28a92b;
}

ul {
list-style: none;
display: flex;
justify-content: space-between;
}

h3 {
color: #1d1d1d;
font-weight: bold;
font-size: 3rem;
}
#allproduct{
margin-top: 7rem;
color: #414141;
width:100%;
text-align:center;
}
.card{
margin:0.5rem;
width: 18rem;
border: 2px solid transparent;
transition: border-color 0.4s ease;
box-shadow: 2px 2px 3px #e0e5fec6; 
background-image: linear-gradient(to bottom,transparent 85%,#28a92a70);
}
.card:hover{
border-color: #98989883;
cursor: pointer;
background-image: linear-gradient(to bottom,#98989883 80%,transparent);
}
.card-img-top {
width: 100%;
height:20rem;
margin:0.5rem 0 0 0 ;
}

#cardcontainer {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;

}
.list-group {
width: 100%;
margin: 0 1rem 0 0;
box-shadow: 
    3px 3px 2px #e0e5fec6,
    -3px -3px 2px #e0e5fec6;
}

.list-group li {
color: #414141;
font-weight: bold;
background-color: transparent;

}
.navbar {
background-color: transparent !important;
transition: background-color 0.4s ease;

}
.navbar-scrolled {
background-color:#6fb936 !important;
}
.available {
color: #28a92b;
font-weight: bold;
}

.unavailable {
color: red;
font-weight: bold;
}
.btncontainer{
display: flex;
justify-content: space-evenly;
align-items: baseline;
margin:0.5rem 0 auto;
height:2rem;   
}

