<<<<<<< HEAD
:root {
  --dark: #1d1d1d;
  --grey-dark: #414141;
  --light: #fff;
  --mid: #ededed;
  --grey: #989898;
  --gray: #989898;
  --green: #28a92b;
  --green-dark: #4e9815;
  --green-light: #6fb936;
  --blue: #2c7ad2;
  --purple: #8d3dae;
  --red: #c82736;
  --orange: #e77614;
  accent-color: var(--green);
}
body {
  background-color: #111;
  font-family: "Signika Negative", sans-serif, Arial;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: white;
}

#smooth-wrapper{
  width: 100%;
}
#smooth-content {
  position: relative;
  overflow: visible;
  width: 100%;
  /* set a height because the contents are position: absolute, thus natively there's no height */
  height: 2200px;
  background-image:
    linear-gradient(rgba(255,255,255,.07) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,.07) 2px, transparent 2px),
    linear-gradient(rgba(255,255,255,.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.06) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

#section1 ,#section2 {
  height: 400px;
  margin-top: 50px;
  width: 1400px;
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-around;
}

#section2{
  height: 900px;
}

.navbar {
  background-color: transparent !important; /* Set initial background color to transparent */
  transition: background-color 0.3s ease;/* Transparent background color */

}
.navbar-scrolled {
  background-color:#6fb936 !important; /* Change background color when scrolled */
}
.checks{
  position: absolute;
  margin-top: 100px;
  width: 100%;
}
.checks h1{
  font-size: 70px;
  cursor: pointer;
}
.navbar-dark .navbar-brand {
  color: #ffffff; /* Text color for navbar brand */
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff; /* Text color for navbar links */
}
form {
 width: 800px;
 
}
.form-group {
  margin-bottom: 20px;
  
}

label {
  font-weight: bold;
}
form input{
  background-color: transparent;
}
input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}
input[type="date"]::placeholder{
  color: white;
}
input[type="date"]:focus {
  background-color: transparent;
  border: 2px solid #4e9815; 
  outline: none; 
}
.form-control:focus{
  outline: none;
}
button.btn {
  width: 25%;
  padding: 10px;
  border-radius: 5px;
  background-color:#6fb936; 
  border: none;
  color: white;
}

button.btn:hover {
  background-color: #4e9815; 
  color: white;
}
button.btn:active{
  background-color: #4e9815;
  outline: none;
  border-color: #ced4da;
}
.datecheck{
  width: 1400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 
}
.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  height: 470px;
  width: 330px;
  border-radius: 30px;
  cursor: pointer;
}



.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  display: inline-block;
}

.card {
  width: 300px;
  height: 400px;
  margin: 0 10px; 
  position: relative;
  overflow: hidden;
  border-radius: 20px; 
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.behind {
  position: absolute;
  top: 0;
  left: 58%;
  transform: translateX(-50%);
  z-index: -1;
  transform: rotate(30%);
}
.behind img{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  filter: blur(2px);
}
.frist {
  box-shadow: 10px 0px 20px 10px rgba(10, 1, 1, 0.873); 
  position: relative;
  z-index: 1; 
}

.des a{
  
  color:#989898;
  font-size: 19px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top:45px;
  left :240px;
}
.des a:hover{
  color: #ededed;
}

.des{
  display: flex;
  flex-direction: row;
  align-items:flex-end;
  justify-content: start;
  position: relative;
}
.section2{
  margin-left:70px;
}
.table{
  color: #ccc;
}
.imgorder img{
  height: 400px;
}
/* Style for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent black background */
}

/* Style for the modal content */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Close button style */
.close {
  color: #fff;
  font-size: 2em;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

/* Image order styling */
.imgorder {
  display: flex;
  flex-wrap: wrap;
}

.imgorder img {
  margin: 15px;
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 15px;

}

.imgorder img:hover {
  transform: scale(1.1);
}
.items {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
width: 100%;
}
.modal-content {
 margin-top: 100px;
 object-fit: cover;
}
.footer{
  background-color: #6fb936;
}

=======
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
*{box-sizing: border-box; margin: 0; padding: 0; 
    /* border: 1px solid red; */
}
:root {
    --dark: #1d1d1d;
    --grey-dark: #414141;
    --light: #fff;
    --mid: #ededed;
    --grey: #989898;
    --green: #28a92b;
    --green-dark: #4e9815;
    --green-light: #6fb936;
    --blue: #2c7ad2;
    --purple: #8d3dae;
    --red: #c82736;
    --orange: #e77614;
    accent-color: var(--green);
  }
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark);
    padding-top: 80px;
    background-image: 
    linear-gradient(rgba(255, 255, 255, 0.07) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.07) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
    background-size: 100px 100px;    color: #333;
    line-height: 1.6;
    color: var(--light);
    font-family: "Jura", sans-serif;   
     text-transform: capitalize;
     
}
.cart-submit>button:focus ,.cart-close>button:focus ,.add-to-cart-btn:focus{
    box-shadow: none;

}
/* latest order  */
.latest-order{
    background: linear-gradient(300deg,var(--grey-dark),var(--dark),var(--grey));
  background-size: 300% 300%;
  animation: gradient-animation 30s ease infinite;
    border-radius: 1rem;
    overflow: auto;

}
.latest-order h1{
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 0.6rem;
    border-radius: 1rem;
    text-shadow:#ffffff9e 0 0 10px;
}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
.latest-order-card {
 
    border-radius: 2rem;
    height: 16rem;
}
.latest-order-card>img {
    width: 5rem;
    border-radius: 2rem;
    margin: 0.5rem;
}
.in-stock{
    color: #FFFFFFA3;
}

.latest-order-card-body h5{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.6rem;
    background-color: #333333d4;
    border-radius: 1rem;
}
.latest-order-card span{
  background: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;
  padding: 0.3rem;
  margin: 0.5rem;
  width: 5rem;
  font-size: 0.9rem;
  text-align: center;
  background-color: var(--green-light);
}
/* product details */
.row-product{
overflow: scroll;
  height: 50rem;
}
.row-product::-webkit-scrollbar {
color:transparent;
width: 0.5rem;
}
.row-product::-webkit-scrollbar-thumb {
  background-color:transparent;
  border-radius: 1rem;
}
.row-product::-webkit-scrollbar-track {
  background-color:transparent;
}
.product-section{
    background: #ffffff57;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(-5px);
    border-radius: 1rem;
    padding: 2rem 0;
}
.card-main-product {
    background-color: transparent;
}
.card-main-product{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1rem;
    background-color: var(--dark);    
    width: 15rem;
    border-radius: 0.5rem;
    color: #fff;
    height: 23rem;

}
.card-main-product:hover  .card-content{
transition: .4s ease-in-out;
 transform: translateY(1rem);
 /* transform: scale(1.1); */
}
.card-content-image{
    height: 25rem;
    position: relative;
    top: -18px;
    width: 13rem;
    left: 0;
    margin: 0 auto;
    height: 16rem;
    transition: .5s ease-in-out;

}
.card-content-image>img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: cover;
}

.product-price>span{    
    position: absolute;
    color: #fff;
    padding: 0.5rem;
    margin: 0 2rem;
    font-size: 0.9rem;
    text-align: center;
    background-color: var(--green-light);
    font-weight: bold;
    border-radius: 1rem;
    z-index: 1;
}
.product-action>button{
    background-color: var(--green-dark);
    color: #fff;
    border: none;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    transition: ease 0.3s;
}
.product-action>button:hover{
    background-color: var(--green);
    color: var(--mid);
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .card-main-product{
        width: 17rem;
       height: 24rem;
    }
    
}
/* cart */

.cart::before{
    content: '';
    position: absolute;
    background: linear-gradient(45deg,#aaa,#fff);
    width: 100%;
    padding: 1rem 1rem 2rem;
    --mask: conic-gradient(from -45deg at bottom,#fff,#fff
     1deg 89deg,#ffffff00 90deg) 50%/30px 100%;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    background: var(--light);
    top: -28px;
    left: 0;
    transform: rotate(180deg);
}
.cart::after{
    content: '';
    position: absolute;
    background: linear-gradient(45deg,#aaa,#fff);
    width: 100%;
    padding: 1rem 1rem 2rem;
    --mask: conic-gradient(from -45deg at bottom,#fff,#fff
     1deg 89deg,#ffffff00 90deg) 50%/30px 100%;
    -webkit-mask: var(--mask);
    mask: var(--mask);
    background: var(--light);
    bottom: -24px;
    left: 0;
}
.cart {
    background-color:var(--light) ;
    color: var(--dark);
    padding: 2rem 0.5rem;
    position: relative;
    height: auto;
}
.cart-card {
    background-color: var(--dark);
    color: var(--light);
    border-radius: 0.5rem;
}
.cart-img>img{
    width:4rem;
    border-radius: 0.2rem;
}
.cart-room{
    border-bottom: 3.2px dashed var(--gray);
}
.cart-submit button ,.add-to-cart-btn{
    background-color: var(--green-dark); 
    color: #fff;
    border: none;
    transition: ease 0.3s;

}
.cart-submit button:hover{
    background-color:var(--green) ;
    color: var(--mid);
    cursor: pointer;
    
}




.cart-quantity .btn {
    background-color: var(--green-dark);
    color: #fff;
    border: none;
    transition: ease 0.3s;
    cursor: pointer;
}

.cart-quantity .btn:hover {
    background-color: var(--green);
    color: var(--mid);
}

.cart-quantity .btn:focus {
    box-shadow: none;
    /* transform: scale(0.9); */
}

.cart-quantity>input[type="number"] {
    width: 5rem;
    text-align: center;
    border: 1px solid var(--gray);
    appearance: textfield;
}



.cart-quantity>input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
>>>>>>> 46848e2187fcb8ad440041363099907d072ad6da
